[submodule "component_module"]
	path = component_module
	url = https://github.com/qaenablers/component_module.git
[submodule "orchestrator_utils"]
	path = orchestrator_utils
	url = https://github.com/qaenablers/orchestrator_utils.git
