[submodule "iotqatools/orchestrator_utils"]
	path = iotqatools/orchestrator_utils
	url = https://github.com/qaenablers/orchestrator_utils.git
[submodule "iotqatools/component_module"]
	path = iotqatools/component_module
	url = https://github.com/qaenablers/component_module.git
